<div class="container">
    <div class="row">
        <div class="col">
            <nav class="navbar navbar-dark bg-dark">
                <div class="navbar-brand" href="#">
                    <img src="/assets/images/paper-plane.png" width="30" height="30" class="d-inline-block align-top" alt="">
                    Not the FAA
                </div>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <span class="navbar-text">
                            Logged in as: <span id="currentUser">{{username}}</span>
                        </span>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Logout</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <table class="table table-striped table-dark mainTable">
                <thead>
                    <tr>
                    <th scope="col">PIC Number</th>
                    <th scope="col">Flight Plan</th>
                    <th scope="col">Date Submitted</th>
                    <th scope="col">Approval Status</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each flight_info}}
                        {{#if approvalStatus}}
                        <button data-code= type="button" class="btn btn-primary moreInfo">More Info</button>
                            <tr>
                                <td>{{PICnumber}}</td>
                                <td>{{flightPlanType}}</td>
                                <td>{{timeSubmitted}}</td>
                                <td>{{approvalStatus}}</td>
                            </tr>
                        <button type="button" class="btn btn-primary weather">Weather</button>
                        {{else}}
                        <button data-code= type="button" class="btn btn-primary moreInfo">More Info</button>
                            <tr>
                                <td>{{PICnumber}}</td>
                                <td>{{flightPlanType}}</td>
                                <td>{{timeSubmitted}}</td>
                                <td>{{approvalStatus}}</td>
                            </tr>
                        <button type="button" class="btn btn-success approve">✔</button>
                        <button type="button" class="btn btn-danger notApprove">❌</button>
                        <button type="button" class="btn btn-primary weather">Weather</button>
                        {{/if}}              
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="modal fade" id="moreInfoModal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div id="moreInfoModalBody" class="modal-body">
        insert information here
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="weatherModal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div id="weatherModalBody" class="modal-body">
        insert information here
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>